In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
import pandas_profiling as pp
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [11]:
# reading the data 
df = pd.read_csv('HeartData2.csv', index_col=0)
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,1,1,1,140,2,0,1,3,0,1,2,0
1,2,0,2,160,1,0,1,3,0,1,1,1
2,1,1,1,130,2,0,2,1,0,1,2,0
3,2,0,0,138,2,0,1,2,1,1,1,1
4,3,1,2,150,1,0,1,2,0,1,2,0

In [13]:
X=df.drop('HeartDisease',axis=1)
y=df['HeartDisease']
X.shape,y.shape

((918, 11), (918,))

In [14]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X,y,shuffle=True,test_size=0.3)

In [15]:
print("x train dimensions :",x_train.shape)
print("x test dimensions: ",x_test.shape)
print("y train dimensions :",y_train.shape)
print("y test dimensions :",y_test.shape)

x train dimensions : (642, 11)
x test dimensions:  (276, 11)
y train dimensions : (642,)
y test dimensions : (276,)

In [9]:
x_train.to_csv('X_train.csv')
x_test.to_csv('X_test.csv')
y_train.to_csv('y_train.csv')
y_test.to_csv('y_test.csv')